:root {
    --primary-text-color: #000000;
    --secondary-text-color: #141414;
    --color-black-8: #000000d9;
    --color-white: #ffffff;
    --color-white-2: #F9F9F9;
    --color-white-60: #ffffff99;
    --color-gray: #868383;
    --color-web-orange: #FFA902;
    --color-alto: #D9D9D9;
    --color-sunset-orange: #FF4D4F;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Arial", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--color-white-2);
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    padding-bottom: 60px;
}

h1,
h2,
h3,
p {
    margin: 0;
    font-family: inherit;
    color: inherit;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}